.btn{
    background-color: #FFBD59;
    border: 0;
    padding: 10px;
    font-size: 20px;
    border-radius: 50px;
    color: white;

    transform: translateY(5px);
    transition: 0.8s;

    &:hover{
        background-color: #f8990a;
        border: 0;
        padding: 10px;
        font-size: 20px;
        border-radius: 50px;
        color: white;
    
        transform: translateY(-5px);
        transition: 0.8s;
    }
}

